/* reset css */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #34495e;
}
.card{
    border: none;
}
.nav-link{
    border: 1px solid #c9dff9;
    margin: 5px 0;
}
.nav-link i{
    padding-right: 10px;
}
.active i{
    color: #ffda51;
}
.bd-callout {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}
.bd-callout i{
    padding-right: 10px;
}
.bd-callout-info {
    border-left-color: #f0ad4e;
}
.bd-callout-info i{
    color: #f0ad4e;
}
.bd-callout-tips{
    border-left-color: #1bbde3;
}
.bd-callout-tips i{
    color:#1bbde3;
}
.bd-callout-process{
    border-left-color: #09b937;
}
.bd-callout-process i{
    color:#09b937;
}
input.disabled {
    pointer-events:none;
    color:#AAA;
    background:#F5F5F5;
  }

  /* bài tập */

  #main #faq .card {
    margin-bottom: 5px;
    border: 0;
  }
  #main .accordion .btn{
    line-height: 0.5;
  }
  #main .accordion .card-body .btn{
    line-height: 1.5;
  }
  
  #main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
  }
  
  #main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background: #257e94;
    padding: 20px;
  }
  
  #main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
  }
  
  #main #faq .card .card-header .btn-header-link.collapsed {
    background: #415c3e;
    color: #fff;
  }
  
  #main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
  }
  
  #main #faq .card .collapsing {
    background: #fffcee;
    line-height: 30px;
  }
  
  #main #faq .card .collapse {
    border: 0;
  }
  
  #main #faq .card .collapse.show {
    background: #fffcee;
    line-height: 30px;
    color: #222;
  }
